<h1> Welcome To Rock, Paper, Scissors </h1>
<hr >

<h2> Choose one:</h2>

<%= link_to (image_tag 'rock.jpg', :size => "240x240"), show_url(:choose =>"rock") %>
<%= link_to (image_tag 'paper.png', :size => "240x240"), show_url(:choose =>"paper") %>
<%= link_to (image_tag 'scissor.jpg', :size => "240x240"), show_url(:choose =>"scissor") %>
